{% extends 'admin/template.html' %}

{% block header %}
{% endblock %}
{% block content %}
<div class="container-fluid">


<p>Piani di studio registrati = {{studyplan_tot}} </p>
{% for curriculum in curricula %} 
<p> {{curriculum.title}} : {{studyplan_counter[curriculum.id]}} </p>
{% endfor %}


<h4>Curriculum control panel</h4>
<table class="table table-bordered">
	<th>Nome</th>
	<th>Status</th>
{% for curriculum in curricula %}
<tr>
	<td>
	{{curriculum.title}}
	</td>
	<td style="width:15%">
	{% if check_validation[curriculum.title] %}
	<span style="color:green"> valid </span>
	{% else %}
	<span style="color:red"> error </span>
	{% endif %}
	</td>
</tr>
{% endfor %}
</table>

<h4>Group control panel</h4>
<table class="table table-bordered">
	<th>Nome</th>
	<th>Status</th>
{% for group in groups %}
<tr>
	<td>
	{{group.name}}
	</td>
	<td style="width: 15%">
	{% if check_validation[group.name] %}
	<span style="color:green"> valid</span>
	{% else %}
	<span style="color:red;"> error</span>
	{% endif %}
	</td>
</tr>
{% endfor %}
</table>


</div>
{% endblock %}