
{% extends 'admin/template.html' %}

{% block header %}

{% endblock %}
{% block content %}

<h4> Gestion credenziali </h4>

	<form action = "{{url_for('change_user_password')}}" method="post" class="form-row">
		 
		 <label class="form-group col-md-2">current password: </label>
		 <input type="text" name="oldpassword" class="form-group col-md-10" >
		 
		 <label class="form-group col-md-2">Nuovo username: </label>
		 <input type="password" name="newusername" class="form-group col-md-10" >

		 <label class="form-group col-md-2">Nuova password:</label>
		 <input type="password" name="newpassword" class="form-group col-md-10" >
		 
		 <label class="form-group col-md-2">Ripeti  password: </label>
		 <input type="password" name="newpassword2" class="form-group col-md-10" >

		 <input type="submit" name="submit" value="salva" class="btn btn-block btn-outline-success">
	</form>
   

	<form action="{{ url_for('admin') }}" method="get" class="form-row">
		<input type="submit" name="submit" value="indietro" class="btn btn-block btn-outline-secondary">
	</form>
 <i> ** in caso di smarrimento della password eliminare manualmente la riga zero della tabella User e riavviare l'applicazione. Il programma verra inizializzato con username:admin password:admin  </i>

{% endblock %}
