{% extends 'admin/template.html' %}

{% block header %}
{% endblock %}
{% block content %}

<h4> Gestione anni accademici </h4>
<p> crea un nuovo anno accademico: 
<a href="{{ url_for('createAcademicyear') }}"> <input type="button" value="create" class="btn btn-block btn-outline-success">  </a>
</p>

<table class="table table-bordered">
	<tr>
		<th>anno accademico</th>
		<th></th>
	</tr>
	{% for ac in academicyears %}
	<tr>
		<td> {{ac.id}} </td>
    	<td> <a href="{{ url_for('deleteAcademicyear' , academicyear_id = ac.id) }}"> <input type="button" value="delete" class="btn btn-block btn-outline-danger"> </a> </td>
	</tr>
    {% endfor %} 
</table>


{% endblock %}
