{% extends 'base.html' %}
{% block header %}
 <script type="text/javascript" >
	function showOldCurricula() {
    var x = document.getElementById("show_old_curricula");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
} 
</script>
<h2> {% block title %} Curricula  {% endblock %}</h2>
{% endblock %}
{% block content %}
	<!--<h2> Curricula per Ingegneria Informatica Magistrale  - Unifi </h2>-->
	<div class="table-responsive">
	<table class="table table-bordered">
		{% for curriculum in curricula %}
		
		<tr>
	        <td class="smallcell">{{ curriculum.title }}</td>
	        <td class="picocell">{{curriculum.ac}}</td>
	        <td class="bigcell">{{ curriculum.desc}}</td>
	        <td> <a href='/curriculum/{{curriculum.id}}'> <input type="button" value="Scegli" class="btn btn-outline-primary"></a> </td>
	    </tr>
	    {% endfor %}

	</table> 
	<button onclick="showOldCurricula()" class="btn btn-outline-info">Mostra curricula di a.a precedenti</button>
	<div id="show_old_curricula">
	<table class="table table-bordered">
		{% for old_curriculum in old_curricula %}
		
		<tr>
	        <td class="smallcell">{{ old_curriculum.title }}</td>
	        <td class="picocell">{{ old_curriculum.ac}}</td>
	        <td class="bigcell">{{ old_curriculum.desc}}</td>
	        <td> <a href='/curriculum/{{old_curriculum.id}}'> <input type="button" value="Scegli" class="btn btn-outline-primary"></a> </td>
	    </tr>
	    {% endfor %}

	</table> 
	</div>

	</div>

{% endblock %}
